*{
    margin: 0;
    padding: 0;
}

.navbar-content {
  display: flex;
  background-color: #1a1c27;
  width: 100%;
  height: 50px;
  padding-top: 20px;
  justify-content: space-between;

}
.navbar {
  background-color: #1a1c27;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  font-size: large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
}
#logo-nav{
  color: white;
  font-size: 38px;
  margin-left: 40px;
  margin-top:-10px;
  text-decoration: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", bold;
}
.navbar-search {
  margin-right: 15px;
  width: 300px;
  height: 30px;
  margin-left: 50px;
  background-color:#202236;
  display: flex;
  border:2px solid #262730;
  justify-content: space-between;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: -4px;
}
.colored{
  background-color:#202236;
  outline: none;
  border: none;
  color:white;
}
.navbar-search>img
{
  width: 20px;
  height: 20px;
  margin-top: 5px;
}
